<!-- Muestra utilizando la directiva ResaltarParesDirective -->
<div *ngFor="let item of muestras">
  <span appResaltarPares [valor]="item">{{ item }}</span>
</div>

<hr>

<!-- Muestra utilizando la propiedad status para cambiar el color -->
<div *ngFor="let item of muestrasConStatus">
  <span [style.backgroundColor]="item.status ? 'green' : 'red'">{{ item.texto }} - {{ item.mayorEdad ? 'Es mayor de edad' : 'Es menor de edad' }}</span>
</div>

<hr>

<!--  componente mensaje, paso de la propiedad mostrarMensaje -->
<h2>Mensaje de edad desde componente mensaje:</h2>
<app-mensaje [mostrarMensaje]="esMayorEdad"></app-mensaje>
